* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.header-container {
    background-color: #f9c1cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

h1 {
    font-family: 'Yeseva One';
    font-size: 2rem;
    margin: 10px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

h2 {
    font-family: 'Yeseva One';
    font-size: 1.5rem;
    color: black;
    text-align: left;
    margin: 10px;
}

h3,
h4,
h5,
h5 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 1rem;
    text-align: left;
    margin: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menuitem {
    background: #99DAff;
    width: auto;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.active_menuitem {
    background: #38b6ff;
    width: auto;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.menulink {
    color: black;
    text-decoration: none;
}

.menuitem:hover,
.menuitem:focus {
    background: #38b6ff;
    transition: 600ms;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    padding: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

/*contact form*/
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="file"] #contact button[type="submit"] {
    font: 400 12px/16px;
}

#contact {
    background: #99daff;
    padding: 25px;
    margin: 0 auto;
    border: 3px solid #38b6ff;
}

#contact input[type="text"] {
    width: 100%;
    border: 3px solid #38b6ff;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
}

#contact input[type="email"] {
    width: 100%;
    border: 3px solid #38b6ff;
    background: #FFF;
    margin: 0 0 15px;
    padding: 10px;
}

#contact input[type="file"] {
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
}

#contact button[type="submit"] {
    width: 100%;
    border: none;
    background: black;
    border: 3px solid #38b6ff;
    z-index: 1;
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    position: relative;
}

#contact button:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #38b6ff;
    z-index: -1;
    transition: opacity 0.1s linear;
    opacity: 0;
    color: white;
    
}

#contact button:hover::before,
:focus:before {
    opacity: 1;
    border: none;
}

input[type=text],
textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 10px white;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

input[type=email]:focus,
textarea:focus {
    box-shadow: 0 0 10px white;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.footer {
    margin-top: 80px;
    background-color: #f9c1cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.even-column-wrapper {
    display: flex;
}

.even-column-wrapper>* {
    padding: 2rem;
    flex-basis: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*social media bar*/
.socialbar {
    background-color: #F9c1cb;
    padding: 30px;
    text-align: center;
}

.icon-button {
    background-color: white;
    border-radius: 4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    width: 4rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
}

.icon-button:hover span,
:focus span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
    background-color: #ff5dc1;
}

.icon-button i {
    background: none;
    color: white;
    height: 4rem;
    left: 0;
    line-height: 4rem;
    position: absolute;
    top: 0;
    width: 4rem;
    z-index: 10;
}

.icon-button .fa-instagram {
    color: #ff5dc1;
}

.icon-button .fa-facebook {
    color: #FF5dc1;
}

.icon-button .fa-pinterest {
    color: #FF5dc1;
}

.icon-button:hover .fa-instagram,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-pinterest {
    color: white;
}

.icon-button:focus .fa-instagram,
.icon-button:focus .fa-facebook,
.icon-button:focus .fa-pinterest {
    color: white;
}


fieldset {
    margin-bottom: 10px;
    border: none;
}

/*recipe-submission form*/
#recipe-submission input[type="file"] #recipe-submission button[type="submit"] {
    font: 400 12px/16px;
}

#recipe-submission {
    background: #99daff;
    padding: 25px;
    margin: 0 auto;
    border: 3px solid #38b6ff;
}

#recipe-submission input[type="file"] {
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
}

#recipe-submission textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
}

#recipe-submission button[type="submit"] {
    width: 100%;
    border: none;
    background: black;
    border: 3px solid #38b6ff;
    z-index: 1;
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    position: relative;
}

#recipe-submission button:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #38b6ff;
    z-index: -1;
    transition: opacity 0.1s linear;
    opacity: 0;
    color: white;
    
}

#recipe-submission button:hover::before,
:focus:before {
    opacity: 1;
    border: none;
}
